/.bashrc
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/Final
/L’Empereur
/SampleTune1.ipynb
/install_ml.sh
/instruction_finetune_dataset
/main.py
/results
/.condarc
/.docker
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful